# Transformation Kijiji Data with MPG/Displacement

## Clean the data

In [1]:
import pandas as pd
import numpy as np

In [2]:
car_df = pd.read_csv('kijiji_mpgdata.csv')

In [3]:
car_df.head()

,brand,model,Year,list_price,color,configration,condition,body_type,wheel_config,transmission,fuel_type,mileage,carfax_link,dealer_address,Transmission,mpg,Displacement
0,Chevrolet,Silverado 1500,2017,"$30,999.99",Black,LT,Used,Pickup Truck,4 x 4,Automatic,Gasoline,"115,000",https://www.carproof.com/order?ref=kijiji&vin=...,"Brydon Drive, Etobicoke, ON",NaN,NaN,NaN
1,Volkswagen,Tiguan,2013,"$11,450.00",Grey,COMFORTLINE 4WD,Used,"SUV, Crossover",All-wheel drive (AWD),Automatic,Gasoline,"129,000",https://www.carproof.com/order?ref=kijiji&vin=...,"1205 Finch Avenue West, Toronto, ON, M3J 2E8",Manual 6-spd,18.0,2000.0
2,Volkswagen,Tiguan,2013,"$11,450.00",Grey,COMFORTLINE 4WD,Used,"SUV, Crossover",All-wheel drive (AWD),Automatic,Gasoline,"129,000",https://www.carproof.com/order?ref=kijiji&vin=...,"1205 Finch Avenue West, Toronto, ON, M3J 2E8",Automatic (S6),21.0,2000.0
3,GMC,Acadia,2017,"$33,988.00",Other,SLT-2,Used,Other,All-wheel drive (AWD),Automatic,Gasoline,"73,893",https://reports.carproof.com/en/main?id=ioaVnM...,"1900 Victoria Park Avenue, Toronto, ON, M1R 1T6",NaN,NaN,NaN
4,Acura,TL,2002,$500.00,na,na,Used,Sedan,na,na,na,"200,500",https://www.carproof.com/order?ref=kijiji&vin=...,"Toronto, ON M5N1A1",NaN,NaN,NaN

In [4]:
car_df['mpg'].value_counts()

24.0    564
21.0    540
22.0    463
29.0    448
27.0    362
17.0    354
25.0    333
23.0    322
18.0    304
20.0    291
26.0    284
28.0    225
30.0    174
15.0    157
16.0    131
19.0    125
31.0    109
14.0     72
13.0     42
12.0     35
35.0     23
11.0     14
32.0      5
43.0      2
Name: mpg, dtype: int64

In [5]:
car_df = car_df.replace('na','0')

In [6]:
car_df['Year'] = pd.to_numeric(car_df['Year'])

In [ ]:
car_df['Year'] = pd.to_numeric(car_df['Year'])

In [7]:
# Transform the list_price type
i= 0
for item_price in car_df['list_price']:
    if item_price == '0':
        item_price = int(item_price)
            
        car_df.loc[i,'list_price'] = item_price
    else:
        item_price = int(item_price.replace('$','').replace(',','').replace('.',' ').split()[0])
        car_df.loc[i,'list_price'] = item_price
    i+=1

In [8]:
# Transform the mileage type
i = 0

for odo_mileage in car_df['mileage']:
    if odo_mileage == '0':
         car_df.loc[i,'mileage'] = 0
    else:
        try:
            car_df.loc[i,'mileage'] = int(odo_mileage.replace(',',''))
            
        except:
            pass
    i+=1

In [10]:
car_df = car_df.dropna()

In [15]:
car_df['mpg'] = pd.to_numeric(car_df['mpg'])

In [16]:
car_df['Displacement'] = pd.to_numeric(car_df['Displacement'])

In [17]:
car_df['Displacement'] = car_df['Displacement']/1000

In [19]:
car_df.head()

,brand,model,Year,list_price,color,configration,condition,body_type,wheel_config,transmission,fuel_type,mileage,carfax_link,dealer_address,Transmission,mpg,Displacement
1,Volkswagen,Tiguan,2013,11450,Grey,COMFORTLINE 4WD,Used,"SUV, Crossover",All-wheel drive (AWD),Automatic,Gasoline,129000,https://www.carproof.com/order?ref=kijiji&vin=...,"1205 Finch Avenue West, Toronto, ON, M3J 2E8",Manual 6-spd,18.0,2.0
2,Volkswagen,Tiguan,2013,11450,Grey,COMFORTLINE 4WD,Used,"SUV, Crossover",All-wheel drive (AWD),Automatic,Gasoline,129000,https://www.carproof.com/order?ref=kijiji&vin=...,"1205 Finch Avenue West, Toronto, ON, M3J 2E8",Automatic (S6),21.0,2.0
5,Honda,Accord,2015,15499,White,LX,Used,Sedan,Front-wheel drive (FWD),Other,Gasoline,93000,https://www.carproof.com/order?ref=kijiji&vin=...,"1726 Kingston Road, Scarborough, ON, M1N 1S8",Manual 6-spd,18.0,3.5
6,Honda,Accord,2015,15499,White,LX,Used,Sedan,Front-wheel drive (FWD),Other,Gasoline,93000,https://www.carproof.com/order?ref=kijiji&vin=...,"1726 Kingston Road, Scarborough, ON, M1N 1S8",Automatic 6-spd,21.0,3.5
7,Honda,Accord,2015,15499,White,LX,Used,Sedan,Front-wheel drive (FWD),Other,Gasoline,93000,https://www.carproof.com/order?ref=kijiji&vin=...,"1726 Kingston Road, Scarborough, ON, M1N 1S8",Automatic (S6),21.0,3.5

In [ ]:
col = ['brand','Year','mpg','Displacement','list_price']

In [ ]:
car_df.head()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# Plot

make_count = car_df.groupby('model_year')['brand'].count()

In [ ]:
make_count_frame = make_count.to_frame()

In [ ]:
make_count_frame.plot(kind = 'bar',title = 'Year /Brand on kijiji website')

In [ ]:
brand_count = car_df.groupby('brand')['model_year'].count()

In [ ]:
brand_count_df = brand_count.to_frame()

In [ ]:

brand_count_df = brand_count_df.sort_values(by=['model_year'])
brand_count_df.plot(kind = 'bar',title = 'Year /Brand on kijiji website')

In [ ]:
df= car_df
trial = pd.DataFrame()
for b in list(df["brand"].unique()):
    for v in list(df["body_type"].unique()):
        z = df[(df["brand"] == b) & (df["body_type"] == v)]["list_price"].mean()
        trial = trial.append(pd.DataFrame({'brand':b , 'body_type':v , 'avgPrice':z}, index=[0]))
trial = trial.reset_index()
del trial["index"]
trial["avgPrice"].fillna(0,inplace=True)
trial["avgPrice"].isnull().value_counts()
trial["avgPrice"] = trial["avgPrice"].astype(int)
trial.head(5)

In [ ]:
# HeatMap tp show average prices of vehicles by brand and type together
tri = trial.pivot("brand","body_type", "avgPrice")
fig, ax = plt.subplots(figsize=(15,20))
sns.heatmap(tri,linewidths=1,cmap="YlGnBu",annot=True, ax=ax, fmt="d")
ax.set_title("Average price of vehicles by vehicle type and brand",fontdict={'size':20})
ax.xaxis.set_label_text("Type Of Vehicle",fontdict= {'size':20})
ax.yaxis.set_label_text("Brand",fontdict= {'size':20})
plt.show()

In [ ]:
df= car_df
mile_price = pd.DataFrame()
for b in list(df["brand"].unique()):
    for v in list(df["body_type"].unique()):
        z = df[(df["brand"] == b) & (df["body_type"] == v)]["mileage"].mean()
        mile_price = mile_price.append(pd.DataFrame({'brand':b , 'body_type':v , 'avgMileage':z}, index=[0]))
mile_price = mile_price.reset_index()
del mile_price["index"]
mile_price["avgMileage"].fillna(0,inplace=True)
mile_price["avgMileage"].isnull().value_counts()
mile_price["avgMileage"] = mile_price["avgMileage"].astype(int)
mile_price.head(5)

In [ ]:
avg_mile = mile_price.groupby('brand')['avgMileage'].mean()

In [ ]:
avg_mile_df = avg_mile.to_frame()

In [ ]:
avg_mile_df = avg_mile_df.sort_values(by=['avgMileage'])

avg_mile_df.plot(kind='bar')

In [ ]:
brand_avg_price = trial

brand_avg_price = brand_avg_price.groupby('brand')['avgPrice'].mean()
brand_avg_price_df = brand_avg_price.to_frame()
brand_avg_price_df = brand_avg_price_df.sort_values(by=['avgPrice'])

brand_avg_price_df.plot(kind='bar')