In [1]:
from bs4 import BeautifulSoup 
import requests
import pandas as pd
import json

In [8]:
# specify the url
auto_full_details = []
auto_details = []


for page_num in range(1,202):
    auto_url = 'https://www.autolist.com/search?location=Toronto%2C+ON&latitude=43.6629&longitude=-79.3987&page=' + \
    str(page_num)+'&radius=100&jumpstart=desktop'
    response = requests.get(auto_url)
    auto_full_details = auto_full_details + json.loads(response.text)['records']


for item in auto_full_details:
    auto_details.append({
      "vin": item["vin"] ,
      "display_color": item["display_color"],
      "year": item["year"],
      "make": item["make"],
      "model": item["model"],
      "price": item["price"],
      "mileage": item["mileage"],
      "city": item["city"],
      "condition": item["condition"],
      "dealer_name": item["dealer_name"],
      "state": item["state"],
      "trim": item["trim"],
      "body_type": item["body_type"],
      "body_style": item["body_style"],
      "monthly_payment": item["monthly_payment"],
      "provider_name": item["provider_name"]     
    })


auto_df = pd.DataFrame(auto_details)

In [ ]:
auto_df

In [9]:
max_autodf = []
for item in auto_full_details:
    max_autodf.append({
      "year": item["year"],
      "make": item["make"],
      "model": item["model"],
      "mileage": item["mileage"],
      "price": item["price"], 
      "vin": item["vin"]
    })

max_df = pd.DataFrame(max_autodf)

In [10]:
max_df.head()

     make       mileage       model    price                vin  year
0   Lexus  44,190 Miles      RX 350  $25,998  2T2BK1BA9FC342572  2015
1   Acura  26,888 Miles         MDX  $30,998  5FRYD4H44GB033681  2016
2  Toyota  19,865 Miles  Highlander  $29,998  5TDJKRFH4GS345488  2016
3   Acura  24,969 Miles         ILX  $18,998  19UDE2F71GA017012  2016
4  Toyota  61,660 Miles       Camry  $13,998  4T1BF1FK3EU388276  2014

In [11]:
# Save output to Excel
max_df.to_excel("max_auto_list.xlsx", index=False)